$primary1: #cadbe2;
// $primary1: #98D9C2;
$primary2: #000000;
$secondary: #fff7f9;
$accent1: #fe6d73;
$accent2: #227c9d;
$accent3: #17c3b2;

$glass: rgba(19, 30, 51, 0.15);
$shadow: 0 8px 20px 0 rgba(63, 63, 68, 0.37);
$blur: 16px;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

html {
  background-color: $primary1;
  height: relative;
  // height: 100vh;
}

.navbar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border-radius: 20px;
  background: $glass;
  box-shadow: $shadow;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

.navbar img {
  margin-top: 0.5rem;
  margin-left: 2rem;
  height: 40px;
  width: 40px;
}

.nav-links a {
  padding-right: 1rem;
  text-decoration: none;
  color: $primary2;
  font-weight: 600;
  font-size: 20px;
}

section {
  width: 90%;
  margin: auto;
}

.main {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.main .content {
  height: 300px;
  width: 500px;
  margin-right: 1rem;
  border: solid 1px $primary2;
  border-radius: 20px;
}

.main img {
  // margin-top: 1rem;
  width: 400px;
  height: 104px;
}

.text-content {
  margin-top: 3rem;
  text-align: center;
  width: 500px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea,
.username input[type="text"],
.password input[type="password"],
.email input[type="email"],
.fullname input[type="text"] {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 5px;
  background: $secondary;
}

.username label,
.password label,
.email label,
.fullname label {
  color: $secondary;
  padding: 1rem 0 1rem 0;
  text-align: left;
}

.username,
.password,
.email,
.fullname {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

// Login
.login {
  height: relative;
  padding: 3rem;
  margin-top: 10rem;
  width: 400px;
  border-radius: 20px;
  text-align: center;
  background: $glass;
  box-shadow: $shadow;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

.login button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  background-color: $primary1;
}

.message {
  background-color: $primary1;
  border-radius: 5px;
  width: 300px;
  margin: auto;
}

// Register Page
.register {
  margin-top: 4rem;
  height: relative;
  padding: 1rem 3rem 1rem 3rem;
  width: 400px;
  border-radius: 20px;
  background: $glass;
  box-shadow: $shadow;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  text-align: center;
}

.register button {
  margin: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  background-color: $primary1;
}

// Dashboard
.dashboard {
  display: flex;
  justify-content: space-around;
}

.generate {
  width: 400px;
  height: 300px;
  margin-top: 4rem;
  margin-right: 5rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $glass;
  box-shadow: $shadow;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

.generate button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  background-color: $primary1;
}

.generate a {
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  background-color: $primary1;
  color: $primary2;
  padding: 0.8rem;
}
.generate h3 {
  margin: 1rem 0 1rem 0;
}

.roomlist {
  overflow: auto;
  overflow-y: scroll;
  width: 350px;
  height: 560px;
  margin-right: 6rem;
}

.roomlist a {
  text-decoration: none;
}
.roomlist .room:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.room {
  color: $primary2;
  // border: 1px solid $primary2;
  width: 300px;
  height: relative;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  background: $glass;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

// Enter Room
.enter-room {
  display: flex;
  justify-content: space-around;
}

.enter {
  width: 400px;
  height: 300px;
  margin-top: 4rem;
  margin-right: 5rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $glass;
  box-shadow: $shadow;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

.enter button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  background-color: $primary1;
}

// Save Room
.save-room {
  display: flex;
  justify-content: space-around;
}

.save {
  height: 400px;
  width: 500px;
  margin-top: 1rem;
  margin-right: 5rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $glass;
  box-shadow: $shadow;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

.save textarea {
  resize: none;
  height: 90px;
}

.save button {
  margin: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  background-color: $primary1;
}

// Chat Room
.chat-room {
  display: flex;
  justify-content: space-around;
}
.chat-room .roomlist {
  overflow: hidden;
  overflow-y: scroll;
  width: 350px;
  height: 560px;
  margin-right: 2rem;
}

.chat {
  height: 550px;
  width: 800px;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
}

.message-wrapper {
  height: 600px;
  width: 800px;
  margin-top: 0.5rem;
  text-align: center;
  // border: 1px solid $primary2;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: scroll;
  background: $glass;
  box-shadow: $shadow;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

.chat-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;
  font-size: 14px;
}

.chat-left,
.chat-right {
  border-radius: 5px;
  min-width: 60px;
  max-width: 600px;
  padding: 14px;
  margin: 6px;
  border: 1px solid rgba(36, 22, 22, 0.18);
}

.chat-right {
  border-radius: 16px 16px 0 16px;
  align-self: flex-end;
  text-align: right;
}
.chat-left {
  border-radius: 16px 16px 16px 0;
  align-self: flex-start;
  text-align: left;
}
.chat-room .inputs {
  display: flex;
}
.chat-room input {
  margin: 1rem;
}

.chat input[type="button"] {
  margin: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  background-color: $primary1;
  background: $glass;
  box-shadow: $shadow;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

.chat input[type="text"] {
  width: 700px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 5px;
  background: $secondary;
}

// Update Details
.update-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-card {
  height: 400px;
  width: 500px;
  margin-top: 10rem;
  margin-right: 5rem;
  text-align: center;
  // border: 1px solid $primary2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $glass;
  box-shadow: $shadow;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

.update-card textarea {
  resize: none;
  height: 90px;
}

.update-card button {
  margin: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  background-color: $primary1;
}

.update-card a {
  margin: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: $primary2;
}

// Hover
input[type="button"]:hover,
button:hover {
  background-color: $primary1;
  opacity: 0.5;
}

a:hover {
  opacity: 0.5;
}

.goback a {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  background: $glass;
  box-shadow: $shadow;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  color: black;
}

.goback {
  margin-top: 1rem;
}

// Scroll Bar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
