@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

html {
  background-color: white;
  height: relative;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem;
  border: solid 1px black;
  border-radius: 20px;
}

.nav-links a {
  padding-right: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

section {
  width: 90%;
  margin: auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.main .content {
  height: 300px;
  width: 500px;
  margin-right: 1rem;
  border: solid 1px black;
  border-radius: 20px;
}

.main img {
  width: 400px;
  height: 104px;
}

.text-content {
  margin-top: 3rem;
  text-align: center;
  width: 500px;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.username input[type="text"],
.password input[type="password"],
.email input[type="email"],
.fullname input[type="text"] {
  height: 35px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  background: #fef9ef;
}

.username label,
.password label,
.email label,
.fullname label {
  color: #ffcb77;
  padding: 1rem 0 1rem 0;
  text-align: left;
}

.username,
.password,
.email,
.fullname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login {
  height: relative;
  padding: 3rem;
  margin-top: 10rem;
  width: 400px;
  border-radius: 20px;
  background-color: #227c9d;
  text-align: center;
}

.login button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.message {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  margin: auto;
}

.register {
  margin-top: 4rem;
  height: relative;
  padding: 1rem 3rem 1rem 3rem;
  width: 400px;
  border-radius: 20px;
  background-color: #0b9ad8;
  text-align: center;
}

.register button {
  margin: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.generate {
  width: 400px;
  height: 300px;
  margin-top: 4rem;
  margin-right: 5rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generate button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.generate a {
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  background-color: #5e6472;
  color: black;
  padding: 0.8rem;
}

.generate h3 {
  margin: 1rem 0 1rem 0;
}

.roomlist {
  overflow: hidden;
  overflow-y: scroll;
  width: 350px;
  height: 560px;
  margin-right: 8rem;
}

.roomlist a {
  text-decoration: none;
}

.room {
  color: black;
  border: 1px solid black;
  width: 300px;
  height: relative;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
/*# sourceMappingURL=index.css.map */